* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #eee;
}
.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./img/Bg-Turare.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
   
}

#padding{
    padding: 5%;
    /* background: #eee; */
}

#abtpadding{
    padding: 3%;
    /* background: #eee; */
}
.vidpadding{
    padding: 3%;
    /* background: #eee; */
}

#section-margin{
    margin:0;
}

nav img{
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
}


nav{
    display: flex;
    padding: 0 6%;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
}
.nav-links{
    flex: 2;
    text-align: right;
    padding: 5px 8%;
}
.nav-links ul li{
    list-style: none;
    padding: 1% 1%;
    display: inline-block;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(37, 35, 35);
}

.nav-links ul li a:hover{
   background-color: #ece5e5;
   box-shadow: 0px 0px 15px 0px rgb(72, 81, 121);
   padding: 5px;
   transition: .5s;
}
 

.text-box{
    width:90%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px 0;   
}
.text-box h1{
    padding-bottom: 15px;
    font-size: 40px;
    text-shadow: 2px 2px 5px goldenrod;
}
.text-box span{
    font-size: 17px;
    color: rgb(230, 178, 45);
}
.text-box p{
    margin: 15px 0 40px;
    font-size: 20px;
}

.hero-btn{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 30px;
    position: relative;
    border-radius: 5%;
    background: hsla(7, 75%, 49%, 0.521);
    transition: 1s;
}
.hero-btn:hover{
    background-color: cadetblue;
}

#hide{
    display: none;
}
#show{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
        line-height: 25px;
    }
     .text-box p{
        margin: 10px 0 40px;
        font-size: 16px;
    }
 

    .nav-links{
        position: absolute;
        background-color: cadetblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        z-index: 2;
        text-align: left;
        transition: .5s ease;
    }
    .nav-links ul li{
        display: block;
        padding: 3px 0;
      
    }

    .nav-links ul li a{
        font-size: 14px;
        color: #fff;
    }
    .nav-links ul{
        margin-top: 30%;
    }
  
    span{
        display: block;

    }

    nav span img{
        width: 30px;
        background: #ffffff;
        border-radius: 50%;
    }
    
    #hide{
        display: block;
        height: 30px;
        line-height: 30px;
        position: absolute;
        left: 2px;
        margin-top: -12px;
    }
    #show{
        display: block;
    }

    #padding{
        padding-bottom: 10px;
    }

    .nav-links ul li::after{
        background-color: cadetblue;
    }

   
}

.product1{
    text-align: center;
    overflow: hidden;
}

.product1 .pro{
    width: 15%;
    min-width: 150px;
    padding: 10px 10px;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px;
    background: #ffffff;
    position: relative;
    transition: 0.5s;
    border: 2px solid rgb(61, 59, 59);
}
.product1 .pro:hover{
    box-shadow: 0px 0px 15px 3px #bbb5b5;
    transform: scale(1.1);
}

.product1 .pro-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
} 

.product1 .pro img{
    width: 100%;
    border-radius: 7px;
}


.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(3, 9, 33, 0.7), rgba(3, 9, 33, 0.7)), url(./img/shop/banner2.jfif);
    width: 100%;
    padding: 3% 0;
    background-position: center;
    background-size: contain;
}

.banner h4{
    color: #fff;
}
.banner h2{
    color: #fff;
    padding: 12px 0;
    font-size: 20px;
}


.banner span{
    color: #e21a1a;
}

.btns{
    text-decoration: none;
    background: hsla(11, 90%, 30%, 0.963);
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    width: 30%;
    padding: 10px;
    position: relative;
    left: 35%;
    margin: 15px 0;
    font-size: 16px;
    transition: 1s;
}
.banner a:hover{
    background: rgb(144, 214, 216);
}


/* ==============ABOUT=================*/


.about-text p{
    margin: 15px 0 40px;
    font-size: 14px;
}


#abtpadding{
    display: flex;
    align-items: center;
}
#abtpadding img{
    min-width: 35%;
    height: 250px;
}

#abtpadding div{
    padding-left: 40px;
}

#abtpadding h2{
    font-size: 30px;
    margin: 10px 0 20px 0;
}

#aboutvideo{
    text-align: center;
   
} 

#aboutvideo .video{
    width: 50%;
    margin: 20px auto 20px auto;
    
}

#aboutvideo .video video{
    width: 40%;
    border-radius: 10px;
}

@media(max-width: 700px){
    #abtpadding {
        flex-direction: column;
    }

    #abtpadding img {
      margin-bottom: 20px;
    }
    #abtpadding h2 {
        font-size: 30px;
    }

    #abtpadding div {
        padding-left: 0px;
    }

    #aboutvideo .video video{
        width: 100%;
        border-radius: 5px;
    } 
  
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .row img{
    width: 150px;
    cursor: pointer;
}
footer .col .pay-img{
    width: 200px;
    cursor: pointer;
}

footer .col{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
    padding: 0 14px;
}

footer .col p{
    padding-bottom: 5px;
}

footer h4{
    font-size: 16px;
    padding-bottom: 10px;
}
footer strong{
    font-size: 16px;
    margin: 0 0 15px 0;
    color: black;
}
footer .col p{
    font-size: 16px;
    color: rgb(105, 97, 97);
   
}

footer a{
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 8px;
    color: rgb(48, 167, 127);
}
footer a:hover{
    color: blue;
    text-decoration: underline;
}
footer .follow{
    margin-top: 20px;
}
footer .icon img{
    width: 30px;
    color: rgb(74, 17, 206);
    padding-right: 4px;
    cursor: pointer;
    display: inline;
} 
footer .icon a{
text-decoration: none;
}
footer .install .row{
    margin: 10px 0;
}

footer .copyright{
    width: 100%;
    text-align: center;

}
footer .copyright p{
    line-height: 25px;
    font-size: 14px;
}



